body 
 {
  background:url(../images/background111.jpg);
  background-color: rgba(255, 255, 244, 0.822);  
   opacity: 1; 
  }

  .right {
    float: right;
    } 

  .left {
    float: left;
     } 
 
h1 {
    font-size: 36px;
    color: rgba(7, 7, 6, 0.959);
    text-align: left;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(63, 63, 57);
    width: 90%;
  }
h2 {
    font-size: 24px;
    color: rgba(7, 7, 6, 1);
    text-shadow: 1px 1px 1px  rgb(63, 63, 57);
    width: 100%;
  }


p 
  {
  color: rgb(17, 17, 17);
  font-weight: bold;
  }
/*color*/

.yellow {
  background-color: rgba(255, 255, 172, 0.822);   
}
.byellow {
  background-color: rgba(255, 255, 234, 0.822);   
}
.black {
  background-color: black;   
} 



  /*link*/
a:link {
	color:rgba(0, 0, 1, 0.849);
	text-decoration: none;
}
a:hover {
	color:rgba(32, 14, 82, 0.555);
	text-decoration: underline;
}
a:visited {
	color:rgba(0, 0, 0, 0.747);
	text-decoration: none;
}
a:active {
	color:rgb(0, 0, 0);
	text-decoration: none;
}

iframe {
  width: 1px;
  min-width: 90%;
  min-height: 300px;
  color:rgba(0, 0, 0, 0.514);
}
